<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Change Password
        </title>
        
    <!-- Icons font CSS-->
    <link href="/css/Registration_CSS/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/css/Registration_CSS/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/css/Registration_CSS/select2.min.css" rel="stylesheet" media="all">
    <link href="/css/Registration_CSS/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/Registration_CSS/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    </head>
    
<body>
        <% if(id==1) { %>
        <%- include('adminViews/adminHeader') %> 
        <% } %>
        <% if(id==2) { %>
            <%- include('GateViews/gateHeader') %> 
        <% } %>
        <% if(id==3) { %>
        <%- include('equipment_views/sac_header') %> 
        <% } %>

        <% if(id==4) { %>
            <%- include('library_views/lib_header') %> 
        <% } %>
        <% if(id==5) { %>
            <%- include('student_views/header') %> 
        <% } %>
    <div class="page-content-body" id="content-body">
            <div class="wrapper wrapper--w680">
                <div class="card card-1" style="margin-top: 100px;">
                    <div class="card-body">
                        <h2 style="color:green"> <%if(msg){%> <%= msg %> <%}%></h2>
                        <br/>
                        <center><h2 class="title">Change Password</h2></center>
                        <form method="POST" action="/users/ChangePassword" onSubmit = "return validate(this)">
                                <div class="input-group">
                                        <input type="password" placeholder="Old Password" name="oldPassword" id="oldpasswd" size="100" required>
                                    </div>
                                    <div class="input-group">
                                        <input type="password" placeholder="New Password" name="newPassword" id="Pass1" size="100" required>
                                    </div>
                                    <div class="input-group">
                                        <input type="password" placeholder="Confirm Password" name="confirmPassword" id="Pass2" onfocusout="validate()" size="100" required>
                                    </div>
                                    <span id="error-Password" style="color:red;">
                                        <% if(error) {%> <%= error%> <%}%>
                                    </span> 
                                    <br/>
                                    <br/>
                                    <button type="submit" onclick="return validate()" name="submitButton" id="submitButton" class="btn btn-success">Submit</button>
                                   <!--<center><button type="button" name="backButton" id="backButton"> <a href="AdminHome.ejs" style="color:white;text-decoration: none;">back</a></button></center>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        
        <% if(id==2 || id ==3 || id==4 || id==5){%>
            <%- include('footer') %>
        <%}%>
        <script src="/js/Registration_JS/reg.js"></script>
        <!-- Jquery JS-->
        
        <script src="/js/Registration_JS/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="/js/Registration_JS/select2.min.js"></script>
        <script src="/js/Registration_JS/moment.min.js"></script>
        <script src="/js/Registration_JS/daterangepicker.js"></script>
    
        <!-- Main JS-->
        <script src="/js/Registration_JS/global.js"></script>
        <script src="/js/ChangePassword_JS/ChangePassword.js"></script> 
    
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
    
</html>

