<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Student Registration</title>
    
    <!-- Icons font CSS-->
    <link href="/css/Registration_CSS/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/css/Registration_CSS/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="/css/Registration_CSS/select2.min.css" rel="stylesheet" media="all">
    <link href="/css/Registration_CSS/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/Login_CSS/Login_css.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
   <!-- <link href="/css/Registration_CSS/main.css" rel="stylesheet">-->
    <style>
        .input-group{
            margin-bottom: 0px;
        }
        input{
            font-size:15px;
        }
    </style>
</head>

<body>
    <img src="/pic/Wave2.jpg" class="wave"> 
    <%
        var fname,lname,email,stuID;
        if(data){
            fname=data.fname;
            lname=data.lname;
            email=data.emailId;
            stuID=data.stuID;
        }
        
        var hey = "asdasd";
    
    %>
    <!--<h1 style="color:black"> <%=fname%> </h1>-->
    <!--<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">-->
        <div class="size">
            <div class="card container">
                <div>
                    <img src="https://www.daiict.ac.in/wp-content/uploads/2019/01/logo-2018.png" class="img1 img-responsive"/>
                    <div class="loader" id="loader"></div>
                </div>
               
                    <center><h2 class="title">Student Registration</h2></center>
                    <center><h4 class="title" style="color:red"><%if(error){%> <%=error%> <%}%></h4></center>
                    <br/>
                    <form method="POST" action="/users/registerStudent"  id="stuRegForm">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="FIRST NAME"  onkeypress="return isCharKey(event)" name="fname" id="fname"  value="<%=fname%>" required>
                        </div>
                        <br/>
                        <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="LAST NAME" name="lname" id="lname" value="<%=lname%>" required>
                        </div>
                        <br/>
                        
                        <div class="input-group">
                                 <input class="input--style-1" type="text" placeholder="Student ID" onkeypress="return isNumberKey(event)"  onfocusout="IDCheck()" maxlength="9"  name="stuID" id="stuID"  value="<%=stuID%>" required>
                        </div>
                        <span id="error-ID" style="color:red;"></span>
                        <br/>
                        <div  class="input-group">
                            <input class="input--style-1" type="text" placeholder="Email (DA-IICT)" name="emailId" id="emailId" onfocusout="EmailCheck()"  value="<%=email%>" readonly="readonly" >
                        </div>

                        <span id="error-Email" style="color:red;"></span>   
                        <br/>
                        <div class="input-group">
                                <input class="input--style-1" type="password" placeholder="Password"  name="password" id="Pass1" required>
                       </div>
                       <br/>
                       <div class="input-group">
                            <input class="input--style-1" type="password" placeholder="Re-Type Password" onfocusout="validate()" name="confirm_password" id="Pass2" required>
                        </div>
                        <span id="error-Password" style="color:red;"></span>   
                        <br/>
                        <br/>
                        <p style="color:red ; font-weight: bold">Note:- You won't be able to change your profile details later(except password)</p>
                        <div class="container" style="background-color:#f1f1f1">
                          <button type="submit"  name="submitButton" id="submitButton" onclick = "return validate(this)">SUBMIT</button>
                          <button type="button"  class="btn btn-danger" onclick="window.location.href='/'" >Back</button>
                        </div>
                    </form>
            </div>
        </div>
    <script src="/js/Registration_JS/reg.js"></script>
    <!-- Jquery JS-->
    
    <script src="/js/Registration_JS/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="/js/Registration_JS/select2.min.js"></script>
    <script src="/js/Registration_JS/moment.min.js"></script>
    <script src="/js/Registration_JS/daterangepicker.js"></script>
   
    <script src="/js/Registration_JS/global.js"></script>
    <style>
        .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  float:right;
  display:none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    </style>
    <script>
         $('#stuRegForm').on('submit', function(e){
            $('#loader').show();
         })
    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
