<!DOCTYPE html>
<html>
<head>
	<title>
		Scan QR From gate
	</title>
	<style type="text/css">
		table, th, td
		{
			border: 1px solid black;
		}
		b
		{
			color: red
		}
	</style>
</head>
<body>
	<h1> <%= title %> </h1>
	<button id="pdf">Generate PDF</button>
	<br><br>
	FROM  <b id="startDate"> <%= startDate %> </b> 
	TO  <b id="endDate"> <%= endDate %> </b> <br><br>

		<table style="width:100%" id="table">
		 <thead>
		    <th>StudentId</th>
		    <th>Student Name</th>
		    <th>In Time</th>
            <th>Out Time</th>
            <th>Date</th>
            <th>Course</th>
		  </thead>
		  <tbody>
            <tr>
                <td colspan="6" style="text-align:center; font-weight:bold;font-size:20px">RC Current IN Entry Records</td> 
            </tr>
            <% if (tempRec === null) { %>
                <h3>NO DATA FOUND</h3>
            <% } else { %>
			<% if (tempRec) { %>
				<% if(tempRec.length > 0) { %>
						<% for(mes of tempRec) { %>
							<tr>
								<td> <%= mes.userId %> </td>
								<td> <%= mes.libRecords.fName %> <%= mes.libRecords.lName %>   </td>
								<td> <%= mes.in_time %> </td>
								<td> <%= mes.out_time %> </td>
                                <td> <%= mes.date%></td>
                                <td><%= mes.libRecords.courseName %></td>
							</tr>
						<% } %>
				<% } %>
            <% }} %>
            <tr>
                <td colspan="7" style="text-align:center; font-weight:bold;font-size:20px">RC Records (FULL ENTRY)</td> 
            </tr>
            <% if (libRec == null) { %>
                <h3>NO DATA FOUND</h3>
            <% } else { %>
                <% if (libRec) { %>
                    <% if(libRec.length > 0) { %>
                            <% for(mes of libRec) { %>
                                <tr>
                                    <td> <%= mes.userId %> </td>
                                    <td> <%= mes.libRecords.fName %> <%= mes.libRecords.lName %>   </td>
                                    <td> <%= mes.in_time %> </td>
                                    <td> <%= mes.out_time %> </td>
                                    <td> <%= mes.date%></td>
                                    <td><%= mes.libRecords.courseName %></td>
                                </tr>
                            <% } %>
                    <% } %>
                <% }} %>

		</tbody>
		</table>
	<!-- <img src="/static/Images/DA_logo.png" > -->
<% var rootPath = '../'; %>


<script src="https://rawgit.com/MrRio/jsPDF/master/dist/jspdf.debug.js"></script>
<script src="https://rawgit.com/someatoms/jsPDF-AutoTable/master/dist/jspdf.plugin.autotable.js"></script>

<script>
	document.getElementById('pdf').onclick = function()
	{
		var startDate = document.getElementById("startDate").innerHTML;
		var endDate = document.getElementById("endDate").innerHTML;
		var img = new Image(50, 50);
		img.src = "/pic/da_logo.png";
		var doc = new jsPDF('p', 'pt');
		var res = doc.autoTableHtmlToJson(document.getElementById('table'));
		var height = doc.internal.pageSize.height;
		doc.text("DAIICT RC IN/OUT RECORDS FROM "+ startDate + " TO " + endDate, 20, 50);
		// doc.autoTable(res.columns, res.data, {
		//   startY: 200
		// });
		// doc.autoTable(res.columns, res.data, {
		//   startY: doc.autoTableEndPosY() + 50
		// });
		doc.addImage(img, 'PNG', 180, 200);
		doc.autoTable(res.columns, res.data,
		{
			startY: height,
			afterPageContent: function(data)
			{
				doc.setFontSize(20)
				doc.text("DAIICT - RC RECORDS", 50, height - data.settings.margin.bottom + 10);
			}
		});
		doc.save("DA RC IN/OUT Records FROM "+ startDate + " TO " + endDate);
	};
</script>

</body>
</html>