<!DOCTYPE html>
<html>
<head>
	<title>
		Reports RC
	</title>
	<style type="text/css">
		table, th, td
		{
			border: 1px solid black;
		}
		b
		{
			color: red
		}
	</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body style="margin-left:100px">
<h1> <%= title %> </h1>
<button id="pdf" class="btn btn-primary"> <i class="fas fa-file-download"></i> &nbsp; Generate PDF</button>
<button id="pdf" class="btn btn-secondary" onclick="window.location='/users/loadGenerateReport'"> Back</button>
<br><br>
	<%if (startDate!=0 && id!=999999999){%>
		Student ID: <b id="stuID"><%=id %></b>
		FROM  <b id="startDate"> <%= startDate %> </b> 
	TO  <b id="endDate"> <%= endDate %> </b> <br><br>
	<%} else if (startDate==0){%>
		<b id=startDate></b>
		<b id="endDate"></b>
		Student ID: <b id="stuID"><%=id%></b>
	<% }else if(id==999999999){ %>
		<b id="stuID"></b>
	FROM  <b id="startDate"> <%= startDate %> </b> 
	TO  <b id="endDate"> <%= endDate %> </b> <br><br>
	<%}%> <br/><br/>
		<table style="width:80%" id="table" class="table table-bordered">
		 <thead>
		    <th>StudentId</th>
		    <th>Student Name</th>
		    <th>In Time</th>
            <th>Out Time</th>
            <th>Date</th>
            <th>Course</th>
		  </thead>
		  <tbody>
            <tr>
                <td colspan="6" style="text-align:center; font-weight:bold;font-size:20px">RC Current IN Entry Records</td> 
            </tr>
            <% if (tempRec === null) { %>
               <tr>
				   <td colspan="6"> NO DATA FOUND</td>
			   </tr>
            <% } else { %>
			<% if (tempRec) { %>
				<% if(tempRec.length > 0) { %>
						<% for(mes of tempRec) { %>
							<tr>
								<td> <%= mes.userId %> </td>
								<td> <%= mes.libRecords.fName %> <%= mes.libRecords.lName %>   </td>
								<td> <%= mes.in_time %> </td>
								<td> <%= mes.out_time %> </td>
                                <td> <%= mes.date%></td>
                                <td><%= mes.libRecords.courseName %></td>
							</tr>
						<% } %>
				<% } %>
            <% }} %>
            <tr>
                <td colspan="7" style="text-align:center; font-weight:bold;font-size:20px">RC Records (FULL ENTRY)</td> 
            </tr>
            <% if (libRec == null) { %>
                <tr>
					<td colspan="6"> NO DATA FOUND</td>
				</tr>
            <% } else { %>
                <% if (libRec) { %>
                    <% if(libRec.length > 0) { %>
                            <% for(mes of libRec) { %>
                                <tr>
                                    <td> <%= mes.userId %> </td>
                                    <td> <%= mes.libRecords.fName %> <%= mes.libRecords.lName %>   </td>
                                    <td> <%= mes.in_time %> </td>
                                    <td> <%= mes.out_time %> </td>
                                    <td> <%= mes.date%></td>
                                    <td><%= mes.libRecords.courseName %></td>
                                </tr>
                            <% } %>
                    <% } %>
                <% }} %>

		</tbody>
		</table>
	<!-- <img src="/static/Images/DA_logo.png" > -->
<% var rootPath = '../'; %>


<script src="https://rawgit.com/MrRio/jsPDF/master/dist/jspdf.debug.js"></script>
<script src="https://rawgit.com/someatoms/jsPDF-AutoTable/master/dist/jspdf.plugin.autotable.js"></script>

<script>
	document.getElementById('pdf').onclick = function()
	{
		var startDate = document.getElementById("startDate").innerHTML;
		var endDate = document.getElementById("endDate").innerHTML;
		var stuID = document.getElementById("stuID").innerHTML;
		var img = new Image(50, 50);
		img.src = "/pic/da_logo.png";
		var doc = new jsPDF('p', 'pt');
		var res = doc.autoTableHtmlToJson(document.getElementById('table'));
		var height = doc.internal.pageSize.height;
		if(startDate!="")
		doc.text("DA RC IN/OUT Records FROM "+ startDate + " TO " + endDate,20,50);
		else
		doc.text("DA RC IN/OUT Records for Student ID " + stuID,20,50);
		// doc.autoTable(res.columns, res.data, {
		//   startY: 200
		// });
		// doc.autoTable(res.columns, res.data, {
		//   startY: doc.autoTableEndPosY() + 50
		// });
		doc.addImage(img, 'PNG', 180, 200);
		doc.autoTable(res.columns, res.data,
		{
			startY: height,
			afterPageContent: function(data)
			{
				doc.setFontSize(20)
				doc.text("DAIICT - RC RECORDS", 50, height - data.settings.margin.bottom + 10);
			}
		});
		if(startDate!="")
		doc.save("DA RC IN/OUT Records FROM "+ startDate + " TO " + endDate);
		else
		doc.save("DA RC IN/OUT Records for Student ID " + stuID);

	};
</script>

</body>
</html>