<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Details</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--<link rel="stylesheet" href="/css/Dashboard_CSS/bootstrap.min.css" />-->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"> 


<style>
#StuTable_filter {
	margin-right:120px;
} 
#StuTable_paginate{
	margin-right:130px;
}   
</style>

</head>
<body>

<%-include('adminHeader') %>
<link rel="stylesheet" href='https://cdn.datatables.net/responsive/2.2.4/css/responsive.dataTables.min.css'>
<div class="page-content-body" id="content-body">
          <br/><br/>
        <div class="row-fluid">
                <h2 style="color: black"><%=title%></h2>
                
		</div>
		<table class="table display dt-responsive nowrap" id="StuTable" style="width:90%; float:left;">
			<thead class="thead-dark" >
					<tr>
							<th >Student ID</th>
							<th >Name</th>
							<th >Email</th>
                            <th >Course</th>
                            <th>Batch</th>
							<th >Disable/Enable</th>
							<th>Reset Student's QR </th>
					</tr>
			  </thead>
			  <tbody>
                  <% for(user of users){ %>
						 <tr>
							<td style="color:black"><%=user._id %></td>
							<td style="color:black"><%=user.fName%> <%=user.lName %></td>
                            <td style="color:black"><%=user.userEmailId %></td>
                            <td><%=user.courseName%></td>
                            <td><%=user.batchYear%></td>
							<td style="color:black">
								<%if(user.enabled){%>
								&nbsp;<a href="javascript:disableStu(<%=user._id%>)" data-toggle="tooltip" title="Disable!">&nbsp;<i class="fas fa-user-times"></i></a> <%} else{%>
								 &nbsp; &nbsp; &nbsp; &nbsp; <a href="javascript:enableStu(<%=user._id%>)" data-toggle="tooltip" title="Enable!"><i class="fas fa-user"></i></a><%}%>
							</td>

							<td><a href="javascript:resetStudent(<%=user._id%>)"> &nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></a></td>
						  </tr>   
						  <%} %>  
			  </tbody>
	  </table>
		<br/>
		
		
		
  


<!--</div>--> 
</div>
<!--Footer-part-->

<!--end-Footer-part-->

<!--<script src="/js/Dashboard_JS/jquery.min.js"></script> 
<script src="/js/Dashboard_JS/jquery.ui.custom.js"></script>
<script src="/js/Dashboard_JS/bootstrap.min.js"></script>
<script src="/js/Dashboard_JS/jquery.uniform.js"></script> 
<script src="/js/Dashboard_JS/select2.min.js"></script> 
<script src="/js/Dashboard_JS/matrix.js"></script> 
<script src="/js/Dashboard_JS/matrix.tables.js"></script>
<script src="/js/Dashboard_JS/jquery.dataTables.min.js"></script> -->
<script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
<script src = 'https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
<script src="https://cdn.datatables.net/responsive/2.2.4/js/dataTables.responsive.min.js"></script>

<script>
$(document).ready( function () {
    $('#StuTable').DataTable();
} );

function resetStudent(id)
{
	alert(id);
	$.ajax({
            type: 'post',
            url: '/admin/resetStudent/'+id,
             success: function(data){
						 alert(data);
						 //alert("heyyy");
                        let confirm = data;
                        //$('#success').html(confirm);
                        //alert(confirm);
                        },
            error: function(jqXHR, textStatus, error)
                        {
                               //alert("asdasd" + error);
                               //console.log("heyuuuuu" + jqXHR.responseText);

                               let err = jqXHR.responseText;
							 	alert(err);  
							   //$("#error").html(err);
                                //console.log(jqXHR);
                               //console.log(textStatus);
                               
                        }
                
});

}
</script>
<script>
	function enableStu(id)
	{
		$.ajax({
                        type: 'POST',
                        url: '/admin/enableUser/',
                        data: {
                                id: id
                        },
                        success: function(data){
                        let confirm = data;
                        //$('#success').html(confirm);
						alert(confirm);
						location.reload();
                        },
                        error: function(jqXHR, textStatus, error)
                        {
                             

                               let err = jqXHR.responseText;
							 	alert(err); 
                               
                        }
                
                        });
	}
	function disableStu(id)
	{
		$.ajax({
                        type: 'POST',
                        url: '/admin/disableUser/',
                        data: {
                                id: id
                        },
                        success: function(data){
                        let confirm = data;
                        //$('#success').html(confirm);
						alert(confirm);
						location.reload();
                        },
                        error: function(jqXHR, textStatus, error)
                        {

                               let err = jqXHR.responseText;
							 	alert(err); 
                               
                        }
                
                        });
	}
</script>
</body>
</html>

