<!DOCTYPE html>
<html lang="en">
<head>
<title>Employee Details</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--<link rel="stylesheet" href="/css/Dashboard_CSS/bootstrap.min.css" />-->



<style>
 #EmpTable_filter{
	margin-right:130px;
}    
#EmpTable_paginate{
	margin-right:130px;
}

</style>

</head>
<body>

<%-include('adminHeader') %>
<link rel="stylesheet" href='https://cdn.datatables.net/responsive/2.2.4/css/responsive.dataTables.min.css'>
<div class="page-content-body" id="content-body">
          <br/><br/>
        <div class="row-fluid">
                <h2 style="color: black"><%=title%></h2>
                
		</div>
		<table class="table dt-responsive nowrap display" style="width: 90%; float: left" id="EmpTable">
			<thead class="thead-dark">
					<tr>
							<th >Employee ID</th>
							<th >Name</th>
							<th >Email</th>
							<th> Employee Type</th>
							<th >Disable/Enable</th>
					</tr>
			  </thead>
			  <tbody>
						  <% for(user of users){ %>
							<% var type="";
							 if(user.userTypeId==1)
								 type='Admin';
							else if(user.userTypeId==2)
								type='GateKeeper';
							else if(user.userTypeId==3)
								type='SAC Manager';
							else if(user.userTypeId==4)
								type='Librarian';
								
							%>
						 <tr>
							<td style="color:black"><%=user._id %></td>
							<td style="color:black"><%=user.fName%> <%=user.lName %></td>
							<td style="color:black"><%=user.userEmailId %></td>
							<td style="color:black">  <%=type%> </td>
							<td style="color:black">
								<%if(user.enabled){%>
								&nbsp;&nbsp;<a href="javascript:disableEmp(<%=user._id%>)" data-toggle="tooltip" title="Disable User!"><i class="fas fa-user-times"></i></a> <%} else{%>
								 &nbsp; &nbsp; &nbsp; &nbsp; <a href="javascript:enableEmp(<%=user._id%>)" data-toggle="tooltip" title="Enable User!"><i class="fas fa-user"></i></a><%}%>
							</td>
						  </tr>   
						<%} %>  
			  </tbody>
	  </table>
		<br/>
		<center><button type="button" class="btn btn-success" onclick="location.href='/admin/addEmpUser'">Add Employee</button></center>
		
		
  


<!--</div>--> 
</div>
<!--Footer-part-->

<!--end-Footer-part-->

<!--<script src="/js/Dashboard_JS/jquery.min.js"></script> 
<script src="/js/Dashboard_JS/jquery.ui.custom.js"></script>
<script src="/js/Dashboard_JS/bootstrap.min.js"></script>
<script src="/js/Dashboard_JS/jquery.uniform.js"></script> 
<script src="/js/Dashboard_JS/select2.min.js"></script> 
<script src="/js/Dashboard_JS/matrix.js"></script> 
<script src="/js/Dashboard_JS/matrix.tables.js"></script>
<script src="/js/Dashboard_JS/jquery.dataTables.min.js"></script> -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"> 
<script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
<script src = 'https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>
<script src="https://cdn.datatables.net/responsive/2.2.4/js/dataTables.responsive.min.js"></script>

<script>
$(document).ready( function () {
    $('#EmpTable').DataTable({});
} );
</script>
<script>
	function enableEmp(id)
	{
		$.ajax({
                        type: 'POST',
                        url: '/admin/enableUser/',
                        data: {
                                id: id
                        },
                        success: function(data){
                        let confirm = data;
                        //$('#success').html(confirm);
						alert(confirm);
						location.reload();
                        },
                        error: function(jqXHR, textStatus, error)
                        {
                               //alert("asdasd" + error);
                               //console.log("heyuuuuu" + jqXHR.responseText);

                               let err = jqXHR.responseText;
							 	alert(err); 
							   //$("#error").html(err);
                                //console.log(jqXHR);
                               //console.log(textStatus);
                               
                        }
                
                        });
	}
	function disableEmp(id)
	{
		$.ajax({
                        type: 'POST',
                        url: '/admin/disableUser/',
                        data: {
                                id: id
                        },
                        success: function(data){
                        let confirm = data;
                        //$('#success').html(confirm);
						alert(confirm);
						location.reload();
                        },
                        error: function(jqXHR, textStatus, error)
                        {
                               //alert("asdasd" + error);
                               //console.log("heyuuuuu" + jqXHR.responseText);

                               let err = jqXHR.responseText;
							 	alert(err); 
							   //$("#error").html(err);
                                //console.log(jqXHR);
                               //console.log(textStatus);
                               
                        }
                
                        });
	}
</script>
</body>
</html>





<!--
	<h1> <%= title %> </h1>
	<% for(user of users) { %>
		<h2><%= user._id %></h2>
		<p><%= user.userTypeId %>
		<p><%= user.userEmailId %>
		<p><%= user.fName %>
		<p><%= user.lName %>
		<p><%= user.courseName %>
		<p><%= user.batchYear %>
		<p><%= user.password %>
		<br>
	<% } %>
-->