<!DOCTYPE html>
<html>
<link>
  <title>RC Homepage</title>
  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@zxing/library@latest"></script>
    <script type="text/javascript">

var isValid=true;
function getLocation(callback) {
    if (navigator.geolocation) {
    //alert("hey");
     navigator.geolocation.getCurrentPosition((position)=>{

      var pos ={
        lat: position.coords.latitude,
        lon: position.coords.longitude
      }

      return callback(pos);
    });
    //alert(a);
    } else {
    alert("Geolocation is not supported by this browser.");
    isValid=true;
    }

  }

function CheckQR(id,status)
    {
      getLocation(function(position){
          //alert(position.lat + " --- " + position.lon);
          //23.0079356 --- 72.5260686
          let lat=position.lat;
          let lon=position.lon;
          //TODO CHANGE FOR LIB
          if(lat>=23 && lat<=24 && lon >= 72 && lon<=73){
            isValid=true;
          }
     
     
      if(isValid){
      
      $.ajax(
     {
         type:'post',
         url:'/scanqr/',
         data:{
          id: id,
         status:status,
         mes: "call from ajax",
         },
      success:function(data){
        document.getElementById('sid2').innerHTML="";
                 window.location.href="/lib_tmp/"+data._id;  
              
             },
             error:function(RXHDR,statusText,error)
            { 
              let err=RXHDR.responseText;
              document.getElementById('sid2').innerHTML=err;
            }   
          
             //document.getElementsByName('studentID').disabled=true;

         
       });

      }else{
        alert("You are not in you office vicinity. You cannot process requests right now");
      }
    });
  }
    
    
         
       
    
    
  function verifyme()
  {
    var id = document.getElementById("studentId").value;
     
      CheckQR(id,2);

  }
  
    function decodeOnce(codeReader, selectedDeviceId)
    {
      codeReader.decodeFromInputVideoDevice(selectedDeviceId, 'video').then((result) =>
      {
       
        var decryptedID;
              $.ajax({
                  type: 'get',
                  url: '/decryptID/'+result.text,
                  
                  

                  success: function(data){
                    decryptedID = data;
                    //alert(decryptedID);
                  
                    let s1=Number(decryptedID);
                  }
                })


        setTimeout(()=>{
          document.getElementById('studentId').value = decryptedID.substr(0,9);

        CheckQR(decryptedID,1);
        },1000)
        
      })
      .catch((err) =>
      {
        console.error(err);
      })
    }
   
    window.addEventListener('load', function ()
    {
      let selectedDeviceId;
      const codeReader = new ZXing.BrowserQRCodeReader()
    
      codeReader.getVideoInputDevices()
        .then((videoInputDevices) => {
          const sourceSelect = document.getElementById('sourceSelect')
          selectedDeviceId = videoInputDevices[0].deviceId
          if (videoInputDevices.length >= 1) {
            videoInputDevices.forEach((element) => {
              const sourceOption = document.createElement('option')
              sourceOption.text = element.label
              sourceOption.value = element.deviceId
              sourceSelect.appendChild(sourceOption)
            })
            sourceSelect.onchange = () => {
              selectedDeviceId = sourceSelect.value;
            };
            const sourceSelectPanel = document.getElementById('sourceSelectPanel')
            // sourceSelectPanel.style.display = 'block'
          }
          // touchstart handler 
          document.getElementById('startButton').addEventListener("touchStart", onlyTouch, false);  
    
          function onlyTouch(ev)
          { 
            document.getElementById('result').textContent = 'clicked';
            const decodingStyle = document.getElementById('decoding-style').value;
            if (decodingStyle == "once") {
              decodeOnce(codeReader, selectedDeviceId);
            } else {
              decodeContinuously(codeReader, selectedDeviceId);
            }
            console.log(`Started decode from camera with id ${selectedDeviceId}`);
            ev.preventDefault(); 
          }
    
          // click event handler 
          document.getElementById('startButton').addEventListener("click", onlyClick, false);  
    
          function onlyClick(ev)
          {
            //alert("hii"); 
            //document.getElementById('result').textContent = 'clicked';
            const decodingStyle = document.getElementById('decoding-style').value;
            if (decodingStyle == "once") {
              decodeOnce(codeReader, selectedDeviceId);
            } else {
              decodeContinuously(codeReader, selectedDeviceId);
            }
            console.log(`Started decode from camera with id ${selectedDeviceId}`);
            ev.preventDefault(); 
          }
          
          document.getElementById('resetButton').addEventListener('click', () => {
            codeReader.reset()
            document.getElementById('result').textContent = '';
            console.log('Reset.')
          })
        })
        .catch((err) => {
          console.error(err)
        })
    })

 

        function f2()
        {
          alert('Removed all in entries');
          window.location.href="/lib_tmp/lib_tmp_out/";
          
        }
        function f1()
        {
          document.getElementById('scan-div').hidden=false;
        }
    </script>
     <link rel="stylesheet" type="text/css" href="/stylesheets/homepageLIB.css">
     <link rel="stylesheet" type="text/css" href="/stylesheets/AdminDashboard_css.css"></link>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"> 
   
  </link>
    
    
    
    
     
<style>
  table {
  
  table-layout: fixed;
  width:80px;
  overflow: hidden;
  margin-top: 13px;
  border-collapse: collapse;
}
tr{
  border: 0;
}
th,
td {
  /* border: 1px solid black; */
  width: 80px;
  overflow: hidden;
  
}
td select{
  width: 100%;
  overflow: hidden;
  
}
@media only screen and (min-width: 1024px){
.mob_view{
  display: none;
}
}


</style>

</head>
<body>  
    <!-- <button id="btn" onclick= "f1()"> Scan QR </button>  
    <button onclick="f2()"> out time </button>   -->
    <!-- <br/>
    <video id="preview"></video> -->
    
	

    <%- include('lib_header') %> 
<div class="container-fluid">
<form align="center" method="POST"action="#">
	<br/>
	<h1   style="color: #0060b4;font-weight: bolder;">Library</h1>
	
	
	<label  style="color: #0060b4;">Available seats: </label>
	<img src="/images/chair.png" width="100px" height="100px">
        <h3 style="display:inline;color:#0060b4"><%= avl_seats %></h3>
  <br>
  <br/>
<div class="row">
  <div class="col-md-6">
	<button type="button" id="startButton" class="lib_btn" onclick="f1()">Scan QR Code</button>
  
  <button type="button" class="lib_btn" onclick="f2()"   >Clear all IN enteriess </button>
  <br>
  <span id="error-ID" style="color:red;"></span>
  <div id="scan-div" hidden>
          
        
    <table align="center" style="width: 100%; border-spacing: 0 10px; border-collapse: separate;">
      <tr align="center">
        
        
      </tr>
      <tr align="center">
        <td colspan="2"  style="border: none;">
          <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
        </td>
      </tr>
     <tr align="center">
       <td colspan="2">
        <label  style="color: #0060b4;">OR Enter Manually:</label>

       </td>
    
     </tr>
     <tr>
       <td>
         <label style="color: #0060b4;">
        StudentId:
      </label>
       </td>
       <td>
        <input type="text" name="studentId" class="sid" id="studentId">
        <span id="sid2" style="color: red"></span>
       </td>
       <br>
     </tr>
     <tr align="center">
       <td>
        <button type="button" class="lib_btn1" id="verify" onclick="verifyme()">Verify</button>
       </td>
       <td>
        <button type="button" id="resetButton" class="lib_btn1"> Reset </button>
      </td>
     </tr>
     <tr class="mob_view">
       <td >
          <label  for="sourceSelect">Change video source:</label>
       </td>
       <td>
          <select id="sourceSelect" class="mdb-select md-form">
          </select>
        
  
       </td>
     </tr>
     <tr class="mob_view">
       <td>
        <label  for="decoding-style"> Decoding Style:</label>
       </td>
       <td>
        <select id="decoding-style" style="max-width: 300px;" size="1">
          <option value="once">Decode once</option>
          
        </select>
       </td>
     </tr>

    </table>

    

  


</div>
</div>

<div class="col-md-6">
  <div class="table-responsive">
  <table class="table" id="libTable" style="font-size:medium;width: 100%;">
    <thead style="background-color:#20232e;color: white;" >
      <tr>
        
        <th scope="col">Student id</th>
        <th scope="col">In time</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <% for(student of students) {%>
        <tr>
        <td><%= student.userId %></td>
        <td><%= student.in_time %></td>
        <td><%= student.date %></td>
        
        
        </tr>
        
        <% } %>
      
    </tbody>
  </table>
</div>

</div>
</div>
<script src = "https://code.jquery.com/jquery-3.5.1.js"></script>
<script src = 'https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js'></script>


	
</form>
</div>
<style>
  #libTable_filter input{
	margin-right:50px;
}     
</style>
<%- include('../footer') %> 
<script language="javascript" type="text/javascript">
  function myalert()
  { 
      alert("Available seats are: " )
  } 

  $(document).ready( function () {
  $('#libTable').DataTable({
    "scrollX" : true
  });
} );
</script>
</body>
</html>